hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

strong, b{
	font-weight: bold !important;
}

.site{
	padding: 15px;
	@include media-breakpoint-up(md){
		padding: 75px;
	}
}

.header-section{
	position: relative;
	#site-header{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99;
	}
	.top-banner{
		position: relative;
		>img{
			height: 600px;
			object-fit: cover;
			@include media-breakpoint-up(md){
				height: 600px;
			}
		}
		.overlay{
			background-color: rgba(0,0,0,.6);
			position: absolute;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
		    .text{
		    	h1,h2,p{
		    		color: #fff;
		    	}
		    }
		}
	}
	.nav{
		font-size: 22px;
		cursor: pointer;
	}
}

.top-contact{
	i{
		font-size: 20px;
	    padding: 15px;
	    border-radius: 50%;
	    border: 1px solid #fff;
	    color: #fff;
	}
	.section{
		>div{
			display: flex;
			background-color: theme-color('dark');

			@include media-breakpoint-up(md){
				padding-top: 15px;
				padding-bottom: 15px;
			}
			>div{
				padding: 15px;
			}
		}
	}
}

.flexible-content.page-gallery .lg-gallery{
	.slick-slide{
		padding-top: 60px;
		padding-bottom: 40px;	
	}
	.caption{
		bottom: auto;
		top: 0;
		color: theme-color('dark');
		text-align: center;
		font-size: 20px;
		padding: 10px 0;
		background-color: transparent;
		font-weight: bold;
		text-transform: uppercase;
	}
	.slick-dots{
		bottom: 0;
		.slick-active{
			button{
				&::before{
					color: theme-color('primary');
				}
			}
		}
		button{
			&::before{
				color: theme-color('dark');
				font-size: 16px;
			}
		}
	}
}

.customer-portal{
	max-width: 350px;
    margin: auto;
}

.feature-projects{
	h1,h2,h3,h4,h5,h6{
		color: #fff;
	}
	p,span{
		@extend .text-gray;
	}
}

.mobile-toggle{
	i{
		color: #fff;
	}
}

.other-services{
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	li{
		padding: 0 10px;
		a{
			@extend .text-gray;
		}
	}
}

.header-popup{
	display: none;
}

.other-services-slider{
	padding-bottom: 40px;
	.single-service{
		position: relative;
		>img{
			@include media-breakpoint-up(md){
				height: 400px;
				object-fit: cover;
			}
		}
		.title{
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 20px;
			padding: 0 15px;
		}
	}

	.slick-dots{
		bottom: 0;
		.slick-active{
			button{
				&::before{
					color: theme-color('primary');
				}
			}
		}
		button{
			&::before{
				color: theme-color('dark');
				font-size: 16px;
			}
		}
	}
}

.slick-arrow{
	width: 30px;
	height: 30px;
	&::before{
		font-size: 30px;
	}
}

.slick-next{
	right: 30px;
}

.slick-prev{
	left: 30px;
}

.border-box{
	padding: 50px 30px;
    box-shadow: 1px 2px 12px theme-color('dark');
}

ol,ul{
	li{
		margin-bottom: 5px;
	}
}

.widget-title{
	background-color: transparent !important;
	border: 0 !important;
	display: flex;
	flex-direction: column;
	padding-left: 0 !important;
	padding-right: 0 !important;
	color: theme-color('dark') !important;

	&:after{
		margin-top: 10px;
		content: '';
		width: 50px;
		border-bottom: 2px solid #fff;
	}
}

.blog-banner{
	img{
		width: 100%;
		display: block;
		object-fit: cover;
	}
}

#site-footer{
	ul{
		list-style: none;
		padding: 0;
	}
}

.vc_images_carousel { 
	img {
		height: auto;
	}
	.vc_carousel-control {
		.icon-prev{
			text-shadow: -1px 0 0 rgba(255,255,255,1) !important;
			&::before {
				color: black;
				font-size: 80px;
			}
		}
		.icon-next{
			text-shadow: 1px 0 0 rgba(255,255,255,1) !important;
			&::before {
				color: black;
				font-size: 80px;
			}
		}
	}
}